video {
    background-color: #333;
    width: 560px;
    max-width: 100%;
    display: block;
    margin: 60px auto;
}
/* BGs */
.bg-1 {
    background-image: url('../design/pg1/bg_escuro.png');
}
.bg-1 .container {
    background-color: transparent;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}
.bg-1 .caixa {
    color: white;
}
.bg-1 h3 {
    color: #d68423;
    font-size: 28px;
    margin: 50px 0 15px 0;
}
.bg-2 {
    background-image: url('../design/pg1/bg_claro.png');
}
.bg-2 .container {
    background-color: transparent;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}
.bg-2 h3 {
    color: #457d7d;
    font-size: 28px;
    margin: 50px 0 15px 0;
}
.divisoria-1 {
    background-image: url('../design/pg1/paralaxe.png');
    height: 420px;
    width: 100%;
    background-attachment: fixed;
}
.divisoria-2 {
    background-image: url('../design/pg1/paralaxe_2.png');
    height: 420px;
    width: 100%;
    background-attachment: fixed;
}
.divisoria-3 {
    background-image: url('../design/pg1/paralaxe_3.png');
    height: 420px;
    width: 100%;
    background-attachment: fixed;
}
.marcador-div {
    position: absolute;
    top: -270px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
}
.marcador-div-2 {
    position: absolute;
    top: -400px;
    left: 50%;
    transform: translateX(-50%);
    max-height: 450px;
    max-width: 100%;
}
.p-t {
    padding-top: 120px;
}

/* ETC */
.caixa-container {
    position: relative;
    padding-top: 40px;
    margin-bottom: 60px;
}
.caixa-exp {
    max-height: 200px;
    overflow: hidden;
    width: 100%;
    margin: 40px auto;
    transition-duration: .7s;
    position: relative;
    background-color: #2d5054;
    color: white;
    border: none;
    border-radius: 20px;
    padding-top: 60px;
    box-shadow: 2px 2px 4px black;
}
.caixa-exp.aberta {
    max-height: 1600px; 
}
.caixa-container button {
    content: '';
    background-image: url('../design/pg1/ico_saibamais_abre.png');
    background-size: contain;
    background-position: center;
    width: 75px;
    height: 75px;
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 11;
    background-color: transparent;
    border: none;
}
.caixa-container button:hover {
    transform: translateX(-50%) scale(1.03);
}
.caixa-container.saiba-mais::before {
    content: '';
    background-image: url('../design/pg1/ico_saiba_mais.png');
    background-size: 100%;
    width: 152px;
    height: 152px;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 15;
}
.cx-laranja.icone {
    background-color: #d68423;
    border: none;
    border-radius: 25px;
    padding: 20px;
    padding-left: 80px;
    box-shadow: 3px 3px 4px #333;
    color: white;
    margin-bottom: 40px;
    margin-top: 40px;
}
.icone.importante::before {
    background-color: transparent;
    background-image: url('../design/pg1/ico_atencao.png');
    background-size: contain;
    height: 148px;
    width: 148px;
    left: -75px;
    top: 0;
}
.icone.dica::before {
    background-color: transparent;
    background-image: url('../design/pg1/ico_dica.png');
    background-size: contain;
    height: 148px;
    width: 148px;
    left: -75px;
    top: -20px;
}
.icone.reflexao::before {
    background-color: transparent;
    background-image: url('../design/pg1/ico_para_refletir.png');
    background-size: contain;
    height: 148px;
    width: 148px;
    left: -55px;
    top: 0px;
}

.figure-row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.figure-row figure {
    color: white;
}
.citacao {
    background-color: #5d95a1;
    border-radius: 20px;
    padding: 25px;
    width: 70%;
    margin-left: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 3px 3px 4px #333;
    color: white;
}
.letra {
    background-color: #2d5054;
    width: auto;
    max-width: 400px;
    padding: 25px;
    color: white;
    box-shadow: 4px 4px 8px #333;
    border-radius: 25px;
    position: relative;
    margin-bottom: 40px;
    margin-top: 40px;
    padding-bottom: 50px;
    max-width: 100%;
}
.letra-1 {
    width: 340px;
    margin-bottom: 50px;
}
.letra-1::after {
    content: '';
    background-image: url('../design/pg1/1.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 262px;
    height: 229px;
    position: absolute;
    bottom: -40%;
}
.letra-2 {
    width: 340px;
    margin-bottom: 100px;
    margin-top: -40px;
}
.letra-2::after {
    content: '';
    background-image: url('../design/pg1/2.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 262px;
    height: 229px;
    position: absolute;
    bottom: -12%;
}
.letra-3 {
    width: 420px;
    margin-bottom: 100px;
}
.letra-3::after {
    content: '';
    background-image: url('../design/pg1/3.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 262px;
    height: 229px;
    position: absolute;
    bottom: -12%;
}
.row-neg {
    margin-top: -80px;
}

/* painel feminismo */
.painel-feminismo {
    display: flex;
    justify-content: space-between;
    background-image: url('../design/pg1/ilustra_painel_clicavel.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 700px;
    max-width: 1300px;
    margin: 0px auto 0 auto;
    padding-bottom: 120px;
}
.lado-a, .lado-b {
    display: flex;
    flex-direction: column;
    /* background-color: #2d505490; */
    margin: 15px;
    max-width: 30%;
}
.lado-b {
    align-items: end;
}
.painel-feminismo button {
    background-position: center;
    background-size: contain;
    background-color: transparent;
    border: none;
    width: 230px;
    height: 78px;
    position: relative;
    margin-top: 10px;
}
.painel-feminismo button.visitado::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 42px;
    width: 42px;
    background-image: url('../design/pg1/check.png');
    filter: grayscale(0);
    z-index: 10;
}
.painel-feminismo button:hover {
    transform: scale(1.03);
}
.painel-feminismo button.visitado::after {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: inherit;
    filter: grayscale(0.8);

}
.lado-a button:nth-child(1) {
    background-image: url('../design/pg1/bt_pc_1.png');
    margin-left: 140px;  
}
.lado-a button:nth-child(2) {
    background-image: url('../design/pg1/bt_pc_2.png');
    margin-left: 90px;
}
.lado-a button:nth-child(3) {
    background-image: url('../design/pg1/bt_pc_3.png');
    margin-left: 50px;
}
.lado-a button:nth-child(4) {
    background-image: url('../design/pg1/bt_pc_4.png');
    margin-left: 0px;
}
.lado-a button:nth-child(5) {
    background-image: url('../design/pg1/bt_pc_5.png');
    
}
.lado-a button:nth-child(6) {
    background-image: url('../design/pg1/bt_pc_6.png');
    
}
.lado-a button:nth-child(7) {
    background-image: url('../design/pg1/bt_pc_7.png');
    margin-left: 50px;
}
.lado-a button:nth-child(8) {
    background-image: url('../design/pg1/bt_pc_8.png');
    margin-left: 90px;
}
.lado-a button:nth-child(9) {
    background-image: url('../design/pg1/bt_pc_9.png');
    margin-left: 140px;
}
.lado-b button:nth-child(1) {
    background-image: url('../design/pg1/bt_pc_10.png');
    margin-right: 140px;
}
.lado-b button:nth-child(2) {
    background-image: url('../design/pg1/bt_pc_11.png');
    margin-right: 90px;
}
.lado-b button:nth-child(3) {
    background-image: url('../design/pg1/bt_pc_12.png');
    margin-right: 50px;
}
.lado-b button:nth-child(4) {
    background-image: url('../design/pg1/bt_pc_13.png');
}
.lado-b button:nth-child(5) {
    background-image: url('../design/pg1/bt_pc_14.png');
}
.lado-b button:nth-child(6) {
    background-image: url('../design/pg1/bt_pc_15.png');
}
.lado-b button:nth-child(7) {
    background-image: url('../design/pg1/bt_pc_16.png');
    margin-right: 50px;
}
.lado-b button:nth-child(8) {
    background-image: url('../design/pg1/bt_pc_17.png');
    margin-right: 90px;
}
.lado-b button:nth-child(9) {
    background-image: url('../design/pg1/bt_pc_18.png');
    margin-right: 140px;
}

@media (max-width: 1000px){
    .painel-feminismo {
        background-size: 500px;
        background-position: 50% 0%;
        padding-top: 380px;
        margin-top: -50px;
        flex-direction: column;
    }
    .lado-b button, .lado-a button {
        margin-left: unset;
        margin-right: unset;
        margin: 10px auto !important;  
    }
    .lado-a {
        padding: 0 25px;
        margin: 0 auto;
    }
    .lado-b {
        padding: 0 25px;
        margin: 0 auto;
    }
    .lado-a, .lado-b {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 100%;
        width: 100%;
    }
}

@media (max-width:600px) {
    .painel-feminismo {
        flex-direction: column;
        background-position: top center;
        background-size: 300px;
        padding-top: 220px;
        max-width: 100%;
    }
    .lado-a, .lado-b {
        align-items: center;
        justify-content: center;
        max-width: 100%;
        width: 100%;
    }
    .lado-b button, .lado-a button {
        margin-left: unset;
        margin-right: unset;
        margin: 10px auto !important;        
    }
}